@charset "utf-8";

#m_menu_wrap {display:none}

.area_ct {position:relative;width:1050px; margin:0 auto;}
/* Layout */
.wrap {position:relative;z-index:0;width:100%;}
#container {position:relative;z-index:0;width:1050px;margin:0 auto;padding-top:54px;padding-bottom:70px;}
#gnb_wrap {position:absolute; top:0; background-image:url(../img/bg_gnb.png); background-repeat:repeat-x; width:100%; height:27px;z-index:999}
#gnb_wrap .gnb {z-index:999; color:#f8f8f7; font-size:11px; letter-spacing:-0.05em}
.gnb ul { width:250px;}
.gnb li { float:left; width:auto; margin-left:15px; }
.gnb li a { color:#FFFFFF!important; padding-left:3px;display:inline-block}
.gnb li .text {}

#gmp{position:relative;z-index:999;}

#foot_area { width:100%; background-color:#888888; padding:28px 0;overflow:hidden;}
	.foot {width:1050px; margin:0 auto;position:relative;}
	.foot .logo_f {float:left; clear:both}
	.foot .personal {float:left; font-size:11px ; color:#f2f2f2;  line-height:14px; margin-left:50px; width:60%}
	.foot .personal a {color:#f2f2f2!important;}
	.foot .personal a:hover {color:#f2f2f2 !important;}
	.foot .personal em { padding:0 5px; color:#dcdcdc!important}
	.foot .add { float:left; font-size:11px ; color:#f2f2f2;  line-height:17px; margin-left:50px; margin-top:20px} 
	.foot .mark { position:absolute; right:0; top:0}
	.foot .mark li { float:left; margin-left:4px}
#btm_gourl{ width:100%; height:56px; background-color:#ebebeb;overflow:hidden; position:relative; padding:6px 0}
	.all_menu { float:left;width:65px; height:12px; background:url(../img/bullet_all.png) no-repeat 0 1px; padding-left:15px; font-size:12px; position:absolute; top:16px; line-height:11px}
	.all_menu a { color:#585858}.all_menu a:hover { color:#000000} 
	.urlgo_wrap{ float:right; width:auto;}
	.urlgo_wrap ul li { float:left; padding-right:10px; height:34px;border-right:solid 1px #FFFFFF; margin-right:10px;padding-top:8px}
	.urlgo_wrap select { border:none; background-color:#ebebeb; font-size:11px; color:#585858;}

/* Menu */
#navi_wrap {position:absolute; top:36px;width:100%;z-index:999;}
#navi_wrap #navi_box {z-index:999;}
#logo {margin-top:3px;width:30%; height:auto;float:left;}
#navi {float:left;position:relative;width:70%;height:38px;z-index:9999; background:url(../img/mbg_menu.png) repeat-x} 
.nav_w {float:left;text-align:center;width:16%;height:38px; font-size:14px; font-weight:600}
.nav_w:after {clear:both;display:block;content:""}
.nav_w span {float:left;width:100%}

.navi_fir {position:relative;}
.navi_fir a {display:block; line-height:38px; color:#FFFFFF !important}
.navi_fir a.2line {display:block;color:#000;}
.navi_fir a:hover {color:#0257c0}
.navi_fir strong {font-size:100%;text-align:center}
.navi_sec {display:none;clear:left;position:absolute;top:45px;left:0;width:14.25%;} 
/*.navi_sec ul {min-height:210px;border-right:1px solid #2954d3;}메뉴배경블로*/
.navi_sec ul {min-height:210px;border-right:1px solid #273a5a;}/*메뉴배경블랙*/
.navi_sec li {text-align:left;padding:3px 0 3px 20px;}
.navi_sec li a {color:#fbfbfb!important;font-size:12px; font-weight:normal }
.navi_sec li a:hover {color:#ffd820 !important; font-weight:bold}  
.navi_sec a.smenu{font-size:11px !important; color:#CCC;float:left; width:100%}
.navi_sec ul.end {min-height:280px;border-right:0; }
.color { background-color:#e4ddca}
#navi_bg {display:none;position:absolute;left:0px;top:74px;width:100%;height:240px;background:url(../img/bg_menu_blk.png) repeat-x} 
*:first-child+html #navi_bg {} /* z-index:-1; */
.navi_bg_img {min-height:263px;background:url(../img/bg_logo.png) no-repeat 0 145px; }

#container.main {position:relative;z-index:0;width:100%;margin:0 auto;padding-top:0;padding-bottom:0;}
.main button {display:inline-block;border:0 none;padding:0 1px 1px 0;background:transparent;vertical-align:middle;cursor:pointer;}
.main .cont {width:1070px;margin:0 auto;}
.main .mvisual {position:relative;width:100%;height:605px;}
.main .mvisual .vis {position:relative;width:100%;height:220px;overflow:hidden;padding-top:385px;text-align:center;}
.main .mvisual .vis .visWrap {display:inline-block;*display:inline;zoom:1;}
.main .mvisual .vis button.anim {position:relative;z-index:20;width:23px;height:30px;background:url('http://image.ahnlab.com/img_upload/kr/site/images2/main/bg_warn.png') no-repeat -61px -535px;}
.main .mvisual .vis button.anim.play {background-position:-90px -535px;}
.main .mvisual .vis button.cir {position:relative;z-index:20;width:31px;height:30px;background:url('http://image.ahnlab.com/img_upload/kr/site/images2/main/bg_warn.png') no-repeat -31px -535px;}
.main .mvisual .vis .visWrap.on button.cir, .main .mnt .vis button.cir.over {background-position:0 -535px;}
.main .mvisual .vis .pic {position:absolute;left:0;top:0;z-index:5;width:100%;height:100%;background-color:#fff;background-repeat:no-repeat;background-position:center 0;text-align:left;}
.main .mvisual .vis .txtWrap {position:absolute;left:0;top:0;z-index:10;width:100%;min-width:1240px;text-align:left;}
.main .mvisual .vis .txtWrap .txt {width:1070px;margin:0 auto;}

/* sub_Contents */
.tit_wrap { border-bottom:solid 1px #CCCCCC; height:80px}
.tit_wrap .title { padding-top:26px; font-size:20px; color:#969696; position:relative}
.tit_wrap .title span { margin-left:10px; line-height:32px}
.tit_wrap .title .depth { position:absolute; text-align:right; width:40%; right:0; top:30px; font-size:11px; }.tit_wrap .title .depth a{ padding:0 8px;color:#000; }
.tit_wrap .title .depth img {}

#sub_container {width:1050px; margin:0 auto;position:relative;}
#sub_container #content-group { float:left; width:100%;position:relative;padding-bottom:20px;background:url(../img/bg_conts.png) 0 0 repeat-y;}
#sub_container #lnb-group { float:left;width:189px; position:relative;height:100%}
#lnb { width:187px;}
#lnb li{height:43px; width:189px; line-height:43px; border-bottom:solid 1px #f1f1f1}
#lnb a{ font-weight:normal; color:#000; font-size:14px; display:block; padding-left:25px; background:none; font-weight:600}
#lnb a:hover{ font-weight:600; color:#fff !important; font-size:14px; display:block;padding-left:25px; background:url(../img/lnb_select.png) no-repeat left top;}
#lnb .select{ font-weight:600; color:#fff; font-size:14px;display:block;padding-left:25px; background:url(../img/lnb_select.png) no-repeat left top;}



@media screen and (max-width:1050px) {
.area_ct {position:relative;width:100%;margin:0 auto;}

	.foot {width:100%; margin:0 auto;position:relative;}
	.foot .logo_f {float:left; clear:both}

	.all_menu { float:left;width:65px; height:12px; background:url(../img/bullet_all.png) no-repeat 0 1px; padding-left:15px; font-size:12px; position:absolute; top:16px; line-height:11px}
	.urlgo_wrap ul { float:right; width:auto;}
	.urlgo_wrap ul li { float:left; padding-right:10px; height:34px;border-right:solid 1px #FFFFFF; margin-right:10px;padding-top:8px}
}

@media screen and (max-width:900px) {

#logo {margin-top:-14px;width:auto; height:auto;float:left; padding-left:15px}
#navi {display:none}
#m_menu_wrap {display:block;}
.m_depth01 {width:100%;background:#1e2e49; border-bottom:solid 1px #273a5a}
.m_depth01 a {display:block;padding:6px 3.125%;font-size:14px;color:#ffffff !important;}.m_depth01 a:hover {color:#FFFF00 !important}
.m_depth01 .m_depth02 {background:#071535;}
.m_depth01 .m_depth02 li {padding:2px 3.125%;border-bottom:1px solid #0a1b41; line-height:11px !important;}
.m_depth01 .m_depth02 a {display:block;padding-left:15px;font-size:13px; color:#d9e2f6}
.m_depth01 .m_depth02 a:hover{color:#ffffff !important;}
.m_depth01 .m_depth02 .smenu02 {line-height:11px !important; padding:0 0 10px 15px}
#m_menu_close {position:absolute;top:41px;right:3.125%;z-index:99999}
.m_menu_open {position:absolute;top:41px;right:3.125%;z-index:99999}

.title_area .lbg { display:none}
.m_menu { padding-top:80px; background-color:#1b4bda;z-index:9999}
#gnb_wrap {position:absolute; top:0;  width:100%; height:20px;z-index:9999; background:none}
.gnb ul { width:260px;}

.area_ct {width:100%}
.area_view {width:100%}
.mcon_wrap{width:100%}

.all_menu { margin-left:10px}

}

@media screen and (max-width:640px) {
	.foot .mark {display:none}
	.foot .logo_f { margin-left:10px;}
	.foot .personal {float:left; font-size:11px;color:#f2f2f2; line-height:14px; margin-left:10px; width:95%;margin-top:20px}
	.foot .add { float:left; font-size:11px ; color:#f2f2f2;  line-height:17px; margin-left:10px; margin-top:20px} 
}

@media screen and (max-width:568px) {
	.urlgo_wrap{ display:none}
	
}
